* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: 'Montserrat', sans-serif;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );

  --primary-color: #111827;
  --secondary-color: #703428;
  --nav-hover-color: #268bd2;

  --sidebar-background-color: #795548;
  --sidebar-primary-color: #e5d1cd;
  --sidebar-secondary-color: #b57d72;

  --main-background-color: #f0eeee;
  --card-background-color: #faf6f5;

  /* https://javisperez.github.io/tailwindcolorshades/?el-salva=954535 */

  --text-color: #112721a8;

  --font-size-text: 1rem;
  --font-size-header: 1.2rem;
  --font-size-title: 2rem;

  --sidebar-position: fixed;
}

[data-theme='dark'] {
  --primary-color: #e5d1cdbb;
  --secondary-color: #b57d72;
  --nav-hover-color: #268bd2;

  --sidebar-background-color: #49221a;
  --sidebar-primary-color: #e5d1cdbb;
  --sidebar-secondary-color: #b57d72bb;

  --main-background-color: #703428;
  --card-background-color: #592920;

  --text-color: #b57d72bb;
}

body {
  background-color: var(--main-background-color);
  color: var(--primary-color);
}
a {
  text-decoration: none;
  color: var(--nav-hover-color);
}
svg {
  fill: var(--primary-color);
}
ul {
  margin: 10px;
}
li {
  color: var(--secondary-color);
}
h1 {
  font-size: var(--font-size-title);
  font-weight: 500;
}
h2 {
  font-size: var(--font-size-header);
  font-weight: 200;
  max-width: 55ch;
  line-height: 1.7;
}
h3 {
  font-size: var(--font-size-text);
  font-weight: 300;
  line-height: 1.7;
  max-width: 65ch;
}
.sidebar {
  position: var(--sidebar-position);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-primary-color);
  text-align: center;
}
.sidebar h1 {
  text-transform: uppercase;
}
#notion--notion img {
  fill: var(--primary-color);
}

@media (min-width: 768px) {
  body {
    padding: 2rem 8rem 2rem 28rem;
    width: 100%;
    min-height: 100vh;
  }
  .sidebar {
    bottom: 0;
    left: 0;
    top: 0;
    padding: 2rem 0;
    width: 20rem;
    margin: 2rem;
    border-radius: 20px;
  }
  .sidebar img {
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin: 20px 0;
  }
  .sidebar .title {
    margin-top: 20px;
  }
  .sidebar .title div {
    color: var(--sidebar-secondary-color);
    line-height: 1.5;
    font-size: 1.5rem;
  }
  .sidebar div.astro {
    color: var(--sidebar-secondary-color);
    line-height: 1;
    font-size: 0.8rem;
    padding: 20px 0;
  }
  .sidebar nav {
    text-transform: uppercase;
    margin: 30px 0;
    font-size: 1rem;
  }
  .sidebar nav div {
    margin: 10px 0;
  }
  .sidebar a {
    text-decoration: none;
    color: var(--sidebar-primary-color);
  }
  .sidebar a:hover {
    color: var(--nav-hover-color);
  }
  .sidebar .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .sidebar .icons svg {
    width: 25px;
    height: 25px;
    fill: var(--sidebar-primary-color);
  }
  .sidebar .icons svg:hover {
    fill: var(--nav-hover-color);
    cursor: pointer;
  }
  main {
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  main {
    padding: 2rem 1rem;
    text-align: center;
  }
  .sidebar {
    height: 4rem;
    width: 100%;
    overflow: hidden;
  }
  .sidebar h1 {
    padding: 1rem 0;
  }
  .sidebar img,
  .sidebar .title {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #fff;
  }
}
