---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';

import '../components/vanilla-rough-notation.js';
---
<style>
h3 {
  max-width: 45ch;
  line-height: 1.5rem;
}
</style>
<BaseLayout title="Contact">
  <div class="centered">
    <rough-notation client:load showOnLoad type="underline"><h1>CONTACT</h1></rough-notation>
    <Markdown>
      ### Feel free to contact me if you have something frontend related you have to get fixed or built. Or if you have a need for a spceific Notion workflow or template.

      <br />

      ### The best way to contact me is through E-mail. So, send me an e-mail if you have somthing you wish to discuss...

      <br />

      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"></path><path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path></svg>

      <br />

      [skovsen@protonmail.com](mailto:skovsen@protonmail.com)
    </Markdown>
  </div>
</BaseLayout>