---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';

import '../components/dev-tech';
import '../components/vanilla-rough-notation.js';
---
<style>
.tech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
li {
  text-align: initial;
}
</style>

<BaseLayout title="Interests">
<div class="centered">
  <rough-notation client:load showOnLoad type="underline"><h1>INTERESTS</h1></rough-notation>

  <Markdown>
<br />

### These days I am enthusiastic about the following technologies:

<br />
<div class="tech">
  <div>
  <dev-tech name="FRONTEND" icon="/assets/lit.png" size="medium"></dev-tech>
  - [Lit](https://lit.dev/) (LitElement)
  - Web components
  - PWA
  </div>

  <div>
  <dev-tech name="FLUTTER" icon="/assets/flutter.png" size="medium"></dev-tech>
  - Apps (Android/iOS)
  - Web
  - Prototyping
  </div>

  <div>
  <dev-tech name="NOTION" icon="/assets/notion.png" size="medium"></dev-tech>
  - Notion templates
  - Notion API
  </div>
</div>

  </Markdown>
</div>
</BaseLayout>
