---
import BaseLayout from '../../layouts/BaseLayout.astro';

import '../../components/dev-tech.js';
import '../../components/dev-project.js';

// TODO: Define every project in an .md file. That way we can import them
//       and show them below.
//       This makes it easy to implement filtering when displaying them
//       It also makes it possible to update projects straight from Github
---
<style>
h1 {
  margin-top: 60px;
  text-transform: uppercase;
}
dev-tech {
  margin-right: 20px;
}

@media (min-width: 768px) {
  h1 {
    margin: 0;
  }
}
</style>
<BaseLayout title="Personal projects">
  <h1>Personal projects</h1>

  <dev-project name="Notion Page Widget" description="Notion page as (Android homepage) widget" github="https://github.com/Maskintolk/notion-page-widget" screenshot="/assets/notionwidget.jpg" page="/projects/notionwidget">
    <div slot="tech">
      <dev-tech name="LIT" icon="/assets/lit.png" size="small"></dev-tech>
      <dev-tech name="VITE" icon="/assets/vite.svg" size="small"></dev-tech>
      <dev-tech name="NOTION API" icon="/assets/notion.png" size="small"></dev-tech>
    </div>
  </dev-project>

  <dev-project name="My Family Bookclub" description="Show a list of pages from a Notion database" github="https://github.com/Maskintolk/astro_notion_feed" screenshot="/assets/bookclub.jpg" page="/projects/bookclub">
    <div slot="tech">
      <dev-tech name="LIT" icon="/assets/lit.png" size="small"></dev-tech>
      <dev-tech name="ASTRO" icon="/assets/astro.png" size="small"></dev-tech>
      <dev-tech name="NOTION API" icon="/assets/notion.png" size="small"></dev-tech>
    </div>
  </dev-project>

  <dev-project name="Maskintolk.dev" description="This website" github="https://github.com/Maskintolk/maskintolk.dev" page="/projects/maskintolk" screenshot="/assets/maskintolk.jpg">
    <div slot="tech">
      <dev-tech name="LIT" icon="/assets/lit.png" size="small"></dev-tech>
      <dev-tech name="ASTRO" icon="/assets/astro.png" size="small"></dev-tech>
    </div>
  </dev-project>

  <dev-project name="lagipiere.com" description="Rental showcase" page="/projects/lagipiere" screenshot="/assets/thehouse.jpg">
    <div slot="tech">
      <dev-tech name="LIT" icon="/assets/lit.png" size="small"></dev-tech>
      <dev-tech name="TYPESCRIPT" icon="/assets/typescript.png" size="small"></dev-tech>
    </div>
  </dev-project>
</BaseLayout>